################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/.vs/007_Etsunagu/FileContentIndex/30686645-04a6-4673-84ce-1fcf732f140c.vsidx
/.vs/007_Etsunagu/FileContentIndex/fcf93255-d241-4ae1-b16e-8de6e3b79e0a.vsidx
